#divBusca{
    background-color:rgb(255, 255, 255);
    border:solid 2px #7e0a0a;
    border-radius:10px;
    width:300px;
    height:32px;
  }
   
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px; 
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
   
  #btnBusca{
    color: white;
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#7e0a0a;
  }
   
  #divBusca img{
    float:left;
  }
  img#lupa{
      width: 34px;
      height: 34px;
  }